.swiper {
  width: 356px;
  height: 444px;
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 300px;
    height: 375px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Black-3.otf') format('otf'),
  url('/public/fonts/Inter-Black-3.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Medium-8.otf') format('otf'),
  url('/public/fonts/Inter-Medium-8.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Bold-4.otf') format('otf'),
  url('/public/fonts/Inter-Bold-4.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}
